body{
    margin: 0;
    height: 100vh;
    width: 100%;
}

.welcome-page{
    background: rgb(85, 56, 232);
    width: 100%;
    height: auto;
}

nav{
    position: relative;
    height: 30vh;
}

.logo-cont{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 240px;
    margin-left: 140px;
    float: left;
}

#logo{
    font-size: 70px;
    color: rgb(255, 169, 1);
    float: left;
}

.logo-name{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav-menu-cont{
    position: relative;
    width: 50%;
    height: 30px;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.nav-menu{
   float: right;
   padding: 0;

}

.nav-menu li{
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    color: #cccccc;
}

.nav-menu li:nth-child(3){
    margin-right: 140px;
}

/* Mobile navbar menu */

.mobile-menu-btn{
    position: relative;
    width: 60px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    margin-right: 140px;
}

.bar-one{
    position: absolute;
 top: 0;
 width: 100%;
 height: 10px;
 background: white;
 border-radius: 25px;
 transition: 0.5s ease-in-out;
}

.bar-two{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 50%;
    background: white;
    transform: translateY(-50%);
    border-radius: 25px;
      transition: 0.5s ease-in-out;
  }
    
    .bar-three{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 100%;
    background: white;
    transform: translateY(-100%);
    border-radius: 25px;
    transition: 0.5s ease-in-out;
  }

/* ------------------------------------------------- */

.welcome-page .left h1{
    position: relative;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    font-size: 42px;
    margin-left: 60px;
    margin-top: 60px;
    line-height: 1.4em;
}

.welcome-page .left p{
    color: #cccccc;
    width: 80%;
    font-size: 18px;
    position: relative;
    width: 80%;
    margin-left: 60px;
    margin-top: 30px;
    line-height: 1.8em;
  /*  word-spacing: 0.2em;*/
}

.welcome-page .left button{
    width: 210px;
    height: 70px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 150px;
}

.left-button1{
    background: rgb(255, 169, 1);
    border: none;
    margin-left: 50px;
    margin-right: 10px;
}

.left-button2{
    background: none;
    border: 2px solid rgb(175, 175, 175);
    margin-left: 10px;
}

.right img{
    width: 100%;
}

/* Section 1 - Featured Section */

.featured-section{
    background: #fafafa;
}

.featured-section p{
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   margin-left: 60px;
   font-size: 25px;
   font-family: 'Source Sans Pro', sans-serif;
   color: #777777;
   text-align: center;
}

.featured-section .right{

}

.featured-section .right ul{
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.featured-section .right ul li{
    display: inline;
}

.featured-section .right ul li i{
    font-size: 30px;
    margin-right: 60px;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* ------------------------------------------------- */

/* Section 2 Take a look */

.section-2 h4{
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 169, 1);
    margin-top: 130px;
}
.section-2 h1{
    margin-left: 50px;
    font-weight: bold;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
}
.section-2 p{
    margin-left: 50px;
    width: 40%;
    color: #777777;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.7em;
}

/* ------------------------------------------------- */

/* Section 3 */

.section-3{
    margin-top: 40px;
}

.section-3 .row{
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.sections-3{
    padding: 0;
}

.section-3 .i-dotted-line-cont{
    width: 100%;
}

.i-dotted-line-cont .i-cont{
    position: relative;
    width: 60px;
    height: 60px;
    background: rgb(255, 228, 177);
    border-radius: 15px;   
    z-index: 2;
}

.i-dotted-line-cont i{
    position: relative;
    font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 169, 1);
}

.dotted-line{
    position: absolute;
    width: 75%;
    background: none;
    height: 20%;
    top: 0;
    right: 20px;
    border-bottom: 2px dashed rgb(255, 169, 1);
}

.section-3 h1{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.section-3 p{
    color: #777777;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
}

/* ------------------------------------------------- */

/* Section 4 How AppReview Works */

.section-4-cont h4{
    margin-left: 50px;
    color: rgb(255, 169, 1);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 80px;
}

.section-4-cont h1{
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-top: 0;
}

.section-4-cont .left div{
    height: auto;
    margin-top: 15px;
}

.section-4-cont i{
        font-size: 25px;
        float: left;
        margin-left: 50px;
        color: rgb(255, 169, 1);
}

.section-4-cont h5{
    display: inline;
    position: relative;
    left: 10px;
    font-size: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.section-4-cont p{
    margin-left: 50px;
    width: 70%;
    color: #777777;
    text-align: left;
    margin-top: 10px;
}

.section-4-cont .right img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

/* ------------------------------------------------- */

/* Page 2 Purple - Flexible Pricing */

.page-2-cont{
    background: rgb(85, 56, 232);
    margin-top: 80px;

}

.page-2-cont h1{
    margin-top: 80px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

.p-div-cont{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    width: 290px;
    height: 30px;
}

.page-2-cont .p-1{
    color: #999999;
    float: left;
    font-size: 16px;
}

.page-2-cont .p-2{
    color: white;
    float: left;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    font-size: 16px;
}

.btn-cont{
    position: relative;
    width: 45px;
    height: 26px;
    background: none;
    border-radius: 25px;
    border: 2px solid rgb(175, 175, 175);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

.btn-core{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 25px;
    right: 1px;
    top: 1px;
}

.reviews-btn-cont{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 280px;
    margin-top: 30px;
    display: inline-block;
}

.reviews-btn p{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #999999;
    padding-bottom: 15px;
    margin-right: -4px;
    border-bottom: 1px solid #575757;
}

.reviews-btn p:nth-child(2){
    color: white;
    border-bottom: 2px solid white;
}

/* ------------------------------------------------- */

/* Page 3 White - Buy Now */

.page-3-cont{
    background: white;
}

.page-3-cont .cont{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
}

.page-3-cont .smaller-cont{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
    box-shadow: 0 0 20px #999999;
    -moz-box-shadow: 0 0 20px #999999;
    -webkit-box-shadow: 0 0 20px #999999;
    -o-box-shadow: 0 0 20px #999999;
    background: white;
    border-radius: 10px;
}

.page-3-cont .cont div{


}

.page-3-cont i{
    font-size: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    color: rgb(255, 169, 1);
}

.page-3-cont h4{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 169, 1);
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}

.page-3-cont .smaller-cont h1{
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 30px;
    margin-top: 0;
}

.page-3-cont .smaller-cont p{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #999999;
    margin-left: 30px;
    line-height: 1.8em;
}

.page-3-cont .smaller-cont button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:220px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(255, 169, 1);
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
}

/* ------------------------------------------------- */

/* Section 5 - Build a custom package for your business */

.section-5-cont{
    position: relative;
    top: -140px;
}

.section-5-cont .row{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-top: 1px solid #cfcece;
    border-bottom: 1px solid #cfcece;
}

.h1-p-cont{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.section-5-cont h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin-left: 20px;
}

.section-5-cont p{
    font-weight: bold;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.section-5-cont span{
    margin-left: 10px;
    margin-right: 10px;
}

.section-5-cont button{
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 55px;
    background: rgb(85, 56, 232);
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

/* ------------------------------------------------- */

/* Page 4 - Asked Questions */

.page-4-cont{
    background: #eeeeee;
    border: 1px solid #e7e7e7;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-4-cont .row{
    position: relative;
    width: 80%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.page-4-cont .row:nth-child(2){
    margin-top: 20px;
}

.page-4-cont h4{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 169, 1);
    font-weight: bold;
}

.page-4-cont h1{
    font-weight: bold;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
}

.page-4-cont h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #999999;
    font-size: 16px;
    width: 90%;
}

.page-4-cont p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #999999;
    font-size: 13px;
    width: 90%;
    margin-bottom: 0;
}

.h5-p-i-cont{
    position: relative;
    width: 95%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: white;
    box-shadow: 0 0 5px #999999 !important;
    -moz-box-shadow: 0 0 5px #999999 !important;
    -webkit-box-shadow: 0 0 5px #999999 !important;
    -o-box-shadow: 0 0 5px #999999 !important;
    margin-top: 10px; 

}

.page-4-cont i{
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
border: 1px solid rgb(255, 169, 1);
color: rgb(255, 169, 1);
padding-right: 3px;
padding-left: 3px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 25px;
}

.sub-section{
   margin-top: 10px;
   margin-bottom: 10px;
}


/* ------------------------------------------------- */

/* Page 5 - Case Studies */

.page-5-cont .row{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    
}

.page-5-cont .row:nth-child(1){
    padding-top: 100px;
}

.page-5-cont .row:nth-child(2){
    padding-bottom: 100px;
}

.page-5-cont .title-cont h4{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 169, 1);
    font-weight: bold;
    text-align: center;
}

.page-5-cont .title-cont h1{
    font-weight: bold;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 0;
}

.case-btn-cont{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 50px;
}

.case-btn-cont p{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #999999;
    padding-bottom: 15px;
    margin-right: -4px;
    border-bottom: 1px solid #e2e2e2;
}

.case-btn-cont p:nth-child(3){
    color: rgb(255, 169, 1);
}

.case-btn-cont p:nth-child(3){
    border-bottom: 2px solid rgb(255, 169, 1);
}

.page-5-cont .smaller-cont{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    
}

.page-5-cont .smaller-cont img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0;
}

.page-5-cont .smaller-cont h5{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 169, 1);
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.page-5-cont .smaller-cont h2{
    font-size: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    width: 94%;
}

.page-5-cont .smaller-cont  .hidden-btn-cont{
    width: 100%;
    background: rgb(255, 169, 1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    margin-top: 30px;
}

.page-5-cont .smaller-cont:hover .hidden-btn-cont{
    opacity: 1;
    transition: 0.3s ease-in-out;
}



.page-5-cont .smaller-cont  .hidden-btn-cont p{
    position: relative;
    margin: 0;
    font-size: 16px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    display: inline;
}

.page-5-cont .smaller-cont  .hidden-btn-cont i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: white;
    margin-top: 3px;
}


/* ------------------------------------------------- */

/* Section 6 - Reviewer */

.section-6-cont{
   padding: 0;
   margin: 0;
   background: #eeeeee;
   border: 1px solid #e7e7e7;
   padding-top: 100px;
   padding-bottom: 100px;
}

.section-6-cont .row{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin: 0 !important;
    padding: 0 !important;
   border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   /* overflow: hidden; It affects the buttons outside the row container  */
}

.col-lg-12-cont{
    margin: 0 !important;
    padding: 0 !important;
}

.big-cont{
    width: 100%;
    overflow: hidden;
}

.left-arrow-cont, .right-arrow-cont{
    position: absolute;
    width: 60px;
    height: 60px;
    background: lightblue;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.left-arrow-cont{
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    z-index: 2;
    background: grey;
}

.right-arrow-cont{
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    z-index: 2;
    background: rgb(255, 169, 1);
}

.left-arrow-cont i, .right-arrow-cont i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.reviewer-cont{
    position: relative;
    width: 200%;
    height: auto;
    transition: 0.5s ease-in-out;
    left: 0%;
}

.reviewer-cont-1, .reviewer-cont-2{
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.reviewer-cont-2{
   /* background: lightblue;*/
}

.reviewer-cont-1 img, .reviewer-cont-2 img{
    width: 40%;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reviewer-cont-1 h2, .reviewer-cont-2 h2{
    position: relative;
    line-height: 1.5em;
    font-size: 25px;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    width: 80%;
    margin-left: 40px;
}

.reviewer-name-title-sub-cont{
    width: 50%;
    float: left;
}

.reviewer-cont-1 h5, .reviewer-cont-2 h5{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 0;
}

.reviewer-cont-1 h6, .reviewer-cont-2 h6{
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 0;
}

.reviewer-text-cont{
   float: left;
 /* background: coral;*/
  width: 60%;
  margin-top: 20px;
}

.reviewer-name-title-rating-cont{
    float: left;
    width: 60%;
    height: auto;
    margin-top: 40px;
}

.rating-sub-cont{
    position: relative;
    width: 102px;
    float: right;
    margin-top: 10px;
    margin-right: 120px;
}

.rating-sub-cont i{
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(255, 169, 1);
}

/* ------------------------------------------------- */

/* Page 6 - Purple - Contact us */

.page-6-cont{
    background: rgb(85, 56, 232);
}

.page-6-cont .row{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
}

.questions-cont h5{
    text-align: center;
    color: rgb(185, 123, 0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.title-cont h1{
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.page-6-cont .big-cont{
    margin-top: 40px;
}

.big-cont .sub-cont{
    position: relative;
}

.sub-sub-cont{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.big-cont .sub-cont i{
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
    color: rgb(255, 169, 1);
    display: inline-block;
}

.big-cont .sub-cont p{
    position: relative;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
}

.big-cont .sub-cont .third-i{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.big-cont-2{
    margin-top: 60px;
}

.big-cont-2 .btn-1-cont button{
    width: 150px;
    height: 55px;
    background: rgb(255, 169, 1);
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 16px;
}

.big-cont-2 .btn-2-cont button{
    width: 170px;
    height: 55px;
    background: none;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* ------------------------------------------------- */

/* Footer Page */

.footer-cont .row-1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0;
}

.footer-cont .footer-logo-cont{
   
}

.footer-logo-cont p{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-logo-cont{
    position: relative;
    height: 70px;
    width: 240px;
}

.footer-Company h6, .footer-features h6, .footer-links h6{
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20px;
    margin-bottom: 30px;
}

.footer-Company p, .footer-features p, .footer-links p{
    font-size: 16px;
    color: rgb(110, 110, 110);
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-copyright{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(110, 110, 110);
}

.footer-trademarks{
    margin-top: 0;
    padding: 0;
    line-height: 1.8em;
    color: rgb(110, 110, 110);
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-cont .row-2{
    position: relative;
    width: 80%;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-our-sites h5{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 40px;
}

.footer-our-sites p{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    color: rgb(110, 110, 110);
}

.footer-our-sites p:nth-child(3){
    color: rgb(255, 169, 1);
}

.footer-cont .row-3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.footer-cont .row-3 p{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-left: 25px;
    color: rgb(110, 110, 110);
}

.footer-cont .row-3 p:nth-child(1){
    margin-left: 60px;
}

.footer-cont .row-3 .i-cont{
    float: right;
    height: 100%;
}

.footer-cont .row-3 i{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-media{
    background: #c7c6c6;
    color: white;
}

.fa-facebook{
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 5px;
}

.fa-twitter{
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.fa-linkedin{
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.fa-youtube{
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.fa-facebook:hover{
    background: #3b5998;
    transition: 0.3s ease-in-out;
}

.fa-twitter:hover{
    background: #00acee;
    transition: 0.3s ease-in-out;
}

.fa-linkedin:hover{
    background: #0e76a8;
    transition: 0.3s ease-in-out;
}

.fa-youtube:hover{
    background: #c4302b;
    transition: 0.3s ease-in-out;
}

/* ------------------------------------------------- */

/* Medium Screen Size MD*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo-cont{
      /*
        height: 70px;
      width: 240px;
      */
      margin-left: 60px;
    }

    .nav-menu-cont{

    }

    .nav-menu li:nth-child(3){
        margin-right: 60px;
    }
    
    .left-button1{
      background: red;
      margin-left: 20px;
    }

    .welcome-page .left h1{
      width: 100%;
      margin-left: 20px;
      margin-top: 0;
      font-size: 30px;
    }
    .welcome-page .left p{
        width: 100%;
        margin-left: 20px;
        font-size: 16px;
      }
      .welcome-page .left button{
        width: 170px;
        height: 60px;
      }

      .section-2 p{
          width: 70%;
      }

      .section-4-cont .left p{
        width: 100%;
    }

    .page-3-cont .smaller-cont{
        width: 100%;
    }

    .case-btn-cont p{
        padding-left: 40px;
    }

    .reviewer-text-cont{
        margin-top: 0px;
    }

    .reviewer-text-cont h2{
        font-size: 16px;
    }

    .reviewer-name-title-rating-cont{
        margin-top: 10px;
    }

    .rating-sub-cont{
        margin-right: 70px;
    }
}

/* Small Screen Size SM*/
@media screen and (min-width: 768px) and (max-width: 991px) {   
    .logo-cont{
        /*
        height: 70px;
        width: 240px;
        */
        margin-left: 40px;
      }
  
    .mobile-menu-btn{
        margin-right: 40px;
      }

      .left{

      }
  
      .featured-section .left p{
        margin-top: 20px;
        margin-left: 0;
        margin-top: 0;
    }
    
    .right{
        margin-bottom: 45px;
    }

    .right ul li i{
       position: relative;
       left: 30px;
    }
    
    .left-button1{
        background: green;
        margin-left: 20px;
        
      }
      .welcome-page .left h1{
        width: 100%;
        margin-left: 20px;
        margin-top: 0;
        font-size: 30px;
      }
      .welcome-page .left p{
          width: 100%;
          margin-left: 0;
          font-size: 16px;
          margin-left: 20px;
        }

        .welcome-page .left button{
            width: 170px;
            height: 60px;
          }

          .section-2-cont h4{
              margin-left: 90px;
            padding-left: 30px;
          }

          .section-2-cont h1{
            margin-left: 90px;
            padding-left: 30px;
          }

          .section-2-cont p{
            margin-left: 90px;
            padding-left: 30px;
          }

        .section-2 p{
            width: 80%;
        }

        .section-4-cont h4{
            margin-left: 90px;
            padding-left: 50px;
        }

        .section-4-cont h1{
            margin-left: 90px;
            padding-left: 50px;
        }

        .section-4-cont .left p{
            width: 100%;
        }

        .page-3-cont .cont{

        }

        .page-3-cont .smaller-cont{
            width: 100%;
            
        }

        .page-3-cont .cont button{
            width: 170px;
        }

        .case-btn-cont p{
            padding-left: 60px;
        }

        .reviewer-text-cont{
            margin-top: 0px;
        }
    
        .reviewer-text-cont h2{
            font-size: 17px;
        }
    
        .reviewer-name-title-rating-cont{
            margin-top: 10px;
        }

        .rating-sub-cont{
            margin-right: 70px;
        }
}

/* Extra Small for Mobile Screen XS */
@media screen and (min-width: 0px) and (max-width: 767px) {
    .logo-cont{
        /*
          height: 70px;
        width: 240px;
        */
        margin-left: 40px;
      }

      .mobile-menu-btn{
        margin-right: 40px;
      }

      .left p{
          margin-top: 20px;
          margin-left: 0;
      }
      
      .right{
          margin-bottom: 45px;
      }

      .right ul li i{
         position: relative;
         left: 30px;
      }
    
    .left-button1{
        background: pink;
        margin-left: 50px;
      }
    
    .welcome-page .left h1{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin-left: 0;
        margin-top: 0;
      }
      .welcome-page .left p{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin-left: 0;
        }

        .welcome-page .left button{
            width: 170px;
            height: 60px;
          }

          .welcome-page .left button{
              margin-bottom: 50px;
          }

        .section-2 p{
            width: 80%;
        }

        .section-4-cont .left p{
            width: 80%;
            padding-left: 50px;
        }

        .section-4-cont .right img{
            margin-top: 20px;
        }

        .reviews-btn p{
            margin-left: 40px;
        }

        .page-3-cont .smaller-cont{
            margin-bottom: 20px;
        }
}